body{
    margin: 0;
}

canvas{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

#access-button{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#get-data{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}